# Ignore PHPStorm project files
.idea

# Ignore MacOS cache files
.DS_STORE

# Ignore composer libs
/vendor/
/composer.lock

# Ignore local dev configuration
/captainhook.json

# Ignore the build directory
/build
